.achievements {
    padding: 80px 50px;
    text-align: center;
}

.achievements h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.achievements-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.achievement-card {
    width: 320px;
    background: #161b2b;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    border: 1px solid #334155;
    transition: 0.3s;
}

.achievement-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(37, 99, 235, 0.2);
}

.achievement-icon {
    font-size: 35px;
    margin-bottom: 15px;
}

.achievement-card h3 {
    color: #e2e8f0;
    font-size: 21px;
    margin-bottom: 12px;
}

.achievement-card p {
    color: #cbd5e1;
    line-height: 1.7;
}